<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.examsystem.rest.mapper.SingleChoiceQuestionMapper" >
  <resultMap id="BaseResultMap" type="cn.examsystem.rest.pojo.po.SingleChoiceQuestion" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="difficulty" property="difficulty" jdbcType="INTEGER" />
    <result column="course_id" property="courseId" jdbcType="VARCHAR" />
    <result column="created_teacher_id" property="createdTeacherId" jdbcType="VARCHAR" />
    <result column="is_checked" property="isChecked" jdbcType="BIT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.examsystem.rest.pojo.po.SingleChoiceQuestionWithBLOBs" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="option_a" property="optionA" jdbcType="LONGVARCHAR" />
    <result column="option_b" property="optionB" jdbcType="LONGVARCHAR" />
    <result column="option_c" property="optionC" jdbcType="LONGVARCHAR" />
    <result column="option_d" property="optionD" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, answer, type, difficulty, course_id, created_teacher_id, is_checked, created_time, 
    updated_time
  </sql>
  <sql id="Blob_Column_List" >
    content, option_a, option_b, option_c, option_d
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="cn.examsystem.rest.pojo.po.SingleChoiceQuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from single_choice_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.examsystem.rest.pojo.po.SingleChoiceQuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from single_choice_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from single_choice_question
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from single_choice_question
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.examsystem.rest.pojo.po.SingleChoiceQuestionExample" >
    delete from single_choice_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.examsystem.rest.pojo.po.SingleChoiceQuestionWithBLOBs" >
    insert into single_choice_question (id, answer, type, 
      difficulty, course_id, created_teacher_id, 
      is_checked, created_time, updated_time, 
      content, option_a, option_b, 
      option_c, option_d)
    values (#{id,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{difficulty,jdbcType=INTEGER}, #{courseId,jdbcType=VARCHAR}, #{createdTeacherId,jdbcType=VARCHAR}, 
      #{isChecked,jdbcType=BIT}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR}, #{optionA,jdbcType=LONGVARCHAR}, #{optionB,jdbcType=LONGVARCHAR}, 
      #{optionC,jdbcType=LONGVARCHAR}, #{optionD,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.examsystem.rest.pojo.po.SingleChoiceQuestionWithBLOBs" >
    insert into single_choice_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="difficulty != null" >
        difficulty,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="createdTeacherId != null" >
        created_teacher_id,
      </if>
      <if test="isChecked != null" >
        is_checked,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="optionA != null" >
        option_a,
      </if>
      <if test="optionB != null" >
        option_b,
      </if>
      <if test="optionC != null" >
        option_c,
      </if>
      <if test="optionD != null" >
        option_d,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="difficulty != null" >
        #{difficulty,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="createdTeacherId != null" >
        #{createdTeacherId,jdbcType=VARCHAR},
      </if>
      <if test="isChecked != null" >
        #{isChecked,jdbcType=BIT},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="optionA != null" >
        #{optionA,jdbcType=LONGVARCHAR},
      </if>
      <if test="optionB != null" >
        #{optionB,jdbcType=LONGVARCHAR},
      </if>
      <if test="optionC != null" >
        #{optionC,jdbcType=LONGVARCHAR},
      </if>
      <if test="optionD != null" >
        #{optionD,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.examsystem.rest.pojo.po.SingleChoiceQuestionExample" resultType="java.lang.Integer" >
    select count(*) from single_choice_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update single_choice_question
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.answer != null" >
        answer = #{record.answer,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.difficulty != null" >
        difficulty = #{record.difficulty,jdbcType=INTEGER},
      </if>
      <if test="record.courseId != null" >
        course_id = #{record.courseId,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTeacherId != null" >
        created_teacher_id = #{record.createdTeacherId,jdbcType=VARCHAR},
      </if>
      <if test="record.isChecked != null" >
        is_checked = #{record.isChecked,jdbcType=BIT},
      </if>
      <if test="record.createdTime != null" >
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedTime != null" >
        updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.optionA != null" >
        option_a = #{record.optionA,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.optionB != null" >
        option_b = #{record.optionB,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.optionC != null" >
        option_c = #{record.optionC,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.optionD != null" >
        option_d = #{record.optionD,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update single_choice_question
    set id = #{record.id,jdbcType=VARCHAR},
      answer = #{record.answer,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      difficulty = #{record.difficulty,jdbcType=INTEGER},
      course_id = #{record.courseId,jdbcType=VARCHAR},
      created_teacher_id = #{record.createdTeacherId,jdbcType=VARCHAR},
      is_checked = #{record.isChecked,jdbcType=BIT},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=LONGVARCHAR},
      option_a = #{record.optionA,jdbcType=LONGVARCHAR},
      option_b = #{record.optionB,jdbcType=LONGVARCHAR},
      option_c = #{record.optionC,jdbcType=LONGVARCHAR},
      option_d = #{record.optionD,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update single_choice_question
    set id = #{record.id,jdbcType=VARCHAR},
      answer = #{record.answer,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      difficulty = #{record.difficulty,jdbcType=INTEGER},
      course_id = #{record.courseId,jdbcType=VARCHAR},
      created_teacher_id = #{record.createdTeacherId,jdbcType=VARCHAR},
      is_checked = #{record.isChecked,jdbcType=BIT},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      updated_time = #{record.updatedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.examsystem.rest.pojo.po.SingleChoiceQuestionWithBLOBs" >
    update single_choice_question
    <set >
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="difficulty != null" >
        difficulty = #{difficulty,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="createdTeacherId != null" >
        created_teacher_id = #{createdTeacherId,jdbcType=VARCHAR},
      </if>
      <if test="isChecked != null" >
        is_checked = #{isChecked,jdbcType=BIT},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="optionA != null" >
        option_a = #{optionA,jdbcType=LONGVARCHAR},
      </if>
      <if test="optionB != null" >
        option_b = #{optionB,jdbcType=LONGVARCHAR},
      </if>
      <if test="optionC != null" >
        option_c = #{optionC,jdbcType=LONGVARCHAR},
      </if>
      <if test="optionD != null" >
        option_d = #{optionD,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.examsystem.rest.pojo.po.SingleChoiceQuestionWithBLOBs" >
    update single_choice_question
    set answer = #{answer,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      difficulty = #{difficulty,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=VARCHAR},
      created_teacher_id = #{createdTeacherId,jdbcType=VARCHAR},
      is_checked = #{isChecked,jdbcType=BIT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR},
      option_a = #{optionA,jdbcType=LONGVARCHAR},
      option_b = #{optionB,jdbcType=LONGVARCHAR},
      option_c = #{optionC,jdbcType=LONGVARCHAR},
      option_d = #{optionD,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.examsystem.rest.pojo.po.SingleChoiceQuestion" >
    update single_choice_question
    set answer = #{answer,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      difficulty = #{difficulty,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=VARCHAR},
      created_teacher_id = #{createdTeacherId,jdbcType=VARCHAR},
      is_checked = #{isChecked,jdbcType=BIT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>