# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/examsystem-rest-mapper/target/
/examsystem-rest-pojo/target/
/examsystem-rest-service/target/
/examsystem-rest-web/target/
